#contact{
    position: relative;
    width: 100%;
    height:600px;
}
form{
    width: 500px;
    height: 400px;
    background-color:cyan;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-30%);
    display: flex;
    flex-direction: column; 
    text-align: center; 
    overflow: hidden;
}
.email input, #message{
    width: 90%;
  border: 2px solid black;
  margin-top: 20px;
  margin-left: 5%;
  background: white;
  resize: none;
  padding: 5px ;
  border-radius: 10px;
}
.email input:focus , #message:focus{
    border: 2.5px solid black;  
    outline: none;
  }

#eh{
border: none;
font-size: 50px;
}

#submit{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,0);
  border: 2px solid black;
  width: 100px;
  background: white;
  
}

#email-wraper{
    position: relative;
}

.placeholder{
    position: absolute;
    left: 9%;
    margin-top: 25px;
    color: black;
    pointer-events: none;
    transition: 0.2s;
}

.email input:focus ~ .placeholder,
.email input:valid ~ .placeholder,
#message:focus ~ .placeholder,
#message:valid ~ .placeholder{
    background: white;
    margin-top: 12px;
    font-size: 0.65em;
    border-radius: 50px;
 padding: 0 8px;
    border: 2px solid black;
}

@media (max-width: 420px){
    #contact{
        position: relative;
        width: 100%;
        height:600px;
    }
    
    form{
        width: 90%;
        height: 400px;
        background-color:cyan;
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translate(-50%,-10%);
        display: flex;
        flex-direction: column; 
        text-align: center; 
        overflow: hidden;
    }
}