:root{
    --black: #001114; 
    --aquuaBlue:#20e5ff;
    --orange:#ffb13d;
    --green:#0af107;
    --pink:#eb18bd;
    --white:#fbfdfd;
}


#contact{
    position: relative;
    width: 100%;
    height:600px;
}
form{
    width: 500px;
    height: 400px;
    background:linear-gradient(to bottom right,#5bdaf3,#02313a,#5bdaf3,#02313a,#5bdaf3);
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-30%);
    display: flex;
    flex-direction: column; 
    text-align: center; 
    overflow: hidden;
    box-shadow: 5px 5px 25px rgb(8, 27, 39),
   -5px -5px 25px rgb(42, 53, 61);
border: 2px solid var(--aquuaBlue);
}


.email input, #message{
    width: 90%;
  border: 2px solid var(--aquuaBlue);
  margin-top: 20px;
  margin-left: 2%;
  background:linear-gradient(to top left ,rgb(5, 5, 5),rgb(1, 29, 46), rgb(5, 5, 5));
  resize: none;
  padding: 5px ;
  border-radius: 10px;
  color: var(--white);
}
.email input:focus , #message:focus{
    border: 2.5px solid var(--aquuaBlue);  
    outline: none;
  }

#eh{
border: none;
font-size: 50px;
}

#submit{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,0);
  border: 2px solid var(--aquuaBlue);
  background:linear-gradient(to top left ,rgb(5, 5, 5),rgb(1, 29, 46), rgb(5, 5, 5));
  width: 100px;
  color: var(--white);
}

#email-wraper{
    position: relative;
}

.placeholder{
    position: absolute;
    left: 7%;
    margin-top: 25px;
    color: var(--white);
    pointer-events: none;
    transition: 0.2s;
}

.email input:focus ~ .placeholder,
.email input:valid ~ .placeholder,
#message:focus ~ .placeholder,
#message:valid ~ .placeholder{
    background:linear-gradient(to top left, #5bdaf3,#02313a);
    margin-top: 10px;
    font-size: 0.68em;
    border-radius: 50px;
 padding: 0 8px;
    border: 2px solid var(--aquuaBlue);
    font-weight: 1000;
}

@media (max-width: 420px){
    #contact{
        position: relative;
        width: 100%;
        height:600px;
    }
    
    form{
        width: 90%;
        height: 400px;
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translate(-50%,-10%);
        display: flex;
        flex-direction: column; 
        text-align: center; 
        overflow: hidden;
    }
}