#contact{
    position: relative;
    width: 100%;
    height:600px;
}
form{
    width: 500px;
    height: 400px;
    background-color:cyan;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-30%);
    display: flex;
    flex-direction: column; 
    text-align: center; 
    overflow: hidden;
}
.email{
    width: 90%;
  border: 2px solid black;
  margin-top: 25px;
  margin-left: 5%;
  background: white;
  resize: none;
  
}
.email:focus{
    border: 2.5px solid black;  
    outline: none;
  }

#eh{
border: none;
font-size: 50px;
}

#submit{
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%,0);
  border: 2px solid black;
  width: 100px;
  background: white;
  
}

@media (max-width: 420px){
    #contact{
        position: relative;
        width: 100%;
        height:600px;
    }
    
    form{
        width: 90%;
        height: 400px;
        background-color:cyan;
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translate(-50%,-10%);
        display: flex;
        flex-direction: column; 
        text-align: center; 
        overflow: hidden;
    }
}